/* navbar.component.scss */

$primary-color: #800000;
$background-color: #fff;
$footer-background-color: #333;

.navbar {
    background-color: $background-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 2px solid $primary-color;
    margin-bottom: 0;

    .navbar-brand,
    .nav-link {
        color: $primary-color !important;
        font-weight: bold;
    }

    .navbar-toggler-icon {
        color: $primary-color;
    }

    .rotate-on-hover {
        transition: transform 0.5s ease;

        &:hover {
            transform: rotate(360deg);
        }
    }
}
